.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        font-size: 24px;
        margin-left: 20px;
        color: #FFD87D;
    }
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 50%;
    }
}

.playerPosion {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 300px;
}
