<div class="star-screen">
    <div class="imgBG">
        <img src="assets/img/cardBG.jpg" alt="">
    </div>
    <span (click)="newGame()" class="starttext">Start the Game</span>
    <div class="circle">
        <span class="title">RING OF FIRE</span>
    </div>
    <svg>
      <filter id="wave">
        <feTurbulence x="0" y="0" baseFrequency="0.009" numOctaves="5" seed="2">
          <animate attributeName="baseFrequency" dur="60s" values="0.02;0.005;0.02" repeatCount="indefinite"></animate>
        </feTurbulence>
        <feDisplacementMap in="SourceGraphic" scale="30"></feDisplacementMap>
      </filter>
    </svg>
</div>
