<div class="star-screen">
    <!-- background image -->
    <div class="imgBG">
        <img src="assets/img/cardBG.jpg" alt="">
    </div>
    <!-- star tbutton -->
    <span (click)="newGame()" class="starttext text_center">Start the Game</span>
    <!-- burning text -->
    <div class="circle">
        <span class="title text_center ">RING OF FIRE</span>
    </div>
    <svg>
      <filter id="wave">
        <feTurbulence x="0" y="0" baseFrequency="0.009" numOctaves="5" seed="2">
          <animate attributeName="baseFrequency" dur="60s" values="0.02;0.005;0.02" repeatCount="indefinite"></animate>
        </feTurbulence>
        <feDisplacementMap in="SourceGraphic" scale="10"></feDisplacementMap>
      </filter>
    </svg>

</div>
