<div class="field">




    <div class="circle">
    </div>
    <svg>
  <filter id="wave">
    <feTurbulence x="0" y="0" baseFrequency="0.009" numOctaves="5" seed="2">
      <animate attributeName="baseFrequency" dur="60s" values="0.02;0.005;0.02" repeatCount="indefinite"></animate>
    </feTurbulence>
    <feDisplacementMap in="SourceGraphic" scale="30"></feDisplacementMap>
  </filter>
</svg>

    <div class="cardField">


        <div class="cartStack">
            <img [ngStyle]="{'right.px': i * 5, 'top.px': -i * 5}" *ngFor="let card of [0,1,2,3,4]; let i = index;" src="assets/img/cardback2.png" alt="">
            <img (click)="takeCard()" class="topcard" style="right: 25px; top: -25px" src="assets/img/cardback2.png" alt="">
            <img *ngFor="let card of game.playedCards; let i = index;" [ngStyle]="{'transform': 'rotate('+ -i +'deg) scale(1.3) translateX(240px) translateY(-120px) rotate(-16deg)'}" class="played-card" src="assets/img/newCards/{{ card }}.png" alt="">
            <img *ngIf="pickCardAniamtion" class="pick-card" style="right: 25px; top: -25px" src="assets/img/newCards/{{ currentCard }}.png" alt="">
        </div>

        <app-player *ngFor="let player of game.players; let i = index;" [playerActiv]="i == game.currentPlayer " [name]="player" [avatar]="(i%4)+ 1 " [ngStyle]="{'top.px': 20 + (i * 90)}" class="playerPosion"></app-player>

        <button [disabled]="game.players.length > 5" mat-fab color="" (click)="openDialog()" class="btn-add">
          <mat-icon>add</mat-icon>
        </button>

        <app-game-info [card]="currentCard" class="info-card"></app-game-info>

    </div>

</div>
